<!-- public/index.html -->
<!doctype html>
<html ng-app="contatooh">

  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body class="container" >
      <div class="text-right">
          Nothing here
      </div>

  </body>
</html>
